* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.first-container{ 
  background-color: #1F2937;
  display: flex;
  padding-top: 5px;
  flex-direction: column;
}

.header {
  flex: 1;
  /* change margin to 200px */
  margin: 0px 200px;
  display: flex;
  /* border: 1px solid #ffff00; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  /* border: 2px solid; */
}

.links {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.links > * {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.links > *:hover {
  border-bottom: 2px solid #E5E7EB;
}

.first-container .content-container {
  /* border: 2px solid yellow; */
  display: flex;
  flex: 1;
  margin: 80px 200px;
  justify-content: space-between;
}

.content {
  /* border: 1px solid ; */
  display: flex;
  flex-direction: column;
  width: 500px;
  flex: 1;
}

.main-text {
  color: #F9FAF8;
  font-size: 48px;
  width: 400px;
  /* border: 1px solid red;
  background-color: green; */
}

.secondary-text {
  /* background-color: red; */
  flex: 1;
  font-size: 18px;
  color: #E5E7EB;
}

.button {
  background-color: #3882F6;
  width: fit-content;
  padding: 5px 25px;
  margin-top: 7px;
  border-radius: 8px;
  color: #F9FAF8;
  border: 0px;
}

.image-container {
  flex: 1;
  display: flex;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
}



